// 變數設置
$baseSize: 12px; //基本字型大小
$sizeLevel: 2px; //基本字型大小的補償值
$paddingLevel: 1.2; //行高設定

// $level: 0 是指預設值為0
// 建立字集
@function font($level: 0) {
    @if $level < 0 {
        $level: 0;
    }

    @return calc($baseSize + $sizeLevel * round($level));
    //   12px   +   2 * 倍數 
}

// 行高
@function rhythm($size) {
    @return ceil(calc($size * $paddingLevel));
    //   12px   *   1.2倍高
}

// 字重
@function boldness($bold) {
    @if $bold ==auto or $bold < 0 {
        $bold: 400;
    }

    @return round($bold);
    //   12px   +   2 * 倍數 
}


// 建立字集、行高和字重組合
@mixin font($level: 1, $font-weight: auto, $line-height: auto) {
    $size: font($level);
    $line: rhythm($size);
    $weight: boldness($font-weight);

    font-size: $size;

    @if $line-height ==auto {
        line-height: $line;
    }

    @else {
        line-height: $line-height;
    }

    @if $font-weight ==auto {
        font-weight: $weight;
    }

    @else {
        font-weight: $font-weight;
    }
}

// 字型設定
.fz-1 {
    @include font(18); //48px
}

.fz-2 {
    @include font(14); //40px
}

.fz-3 {
    @include font(10); //32px
}

.fz-4 {
    @include font(8); //28px
}

.fz-5 {
    @include font(6); //24px
}

.fz-6 {
    @include font(4); //20px
}

.p-lg {
    @include font(2); //16px
}

.p-md {
    @include font(1); //14px
}

.p-sm {
    @include font(0); //12px
}

.title-lg {
    @include font(74); //160px
}

.title-md {
    @include font(54); //120px
}

.title-sm {
    @include font(34); //80px
}

.h1 {
    @include font(18, 900); //48px
}

h2 {
    @include font(14, 900); //40px
}

h3 {
    @include font(10, 900); //32px
}

h4 {
    @include font(8, 900); //28px
}

h5 {
    @include font(6, 900); //24px
}

h6 {
    @include font(4, 900); //20px
}

.p-bold-lg {
    @include font(2, 700); //16px
}

.p-bold-md {
    @include font(1, 700); //14px
}

.p-bold-sm {
    @include font(0, 700); //12px
}

.title-bold-lg {
    @include font(74, 900); //160px
}

.title-bold-md {
    @include font(54, 900); //120px
}

.title-bold-sm {
    @include font(34, 900); //80px
}

.bold-700 {
    font-weight: 700;
}

.bold-900 {
    font-weight: 900;
}

// 平版
@media screen and (max-width: $pad-breakpoints) {
    .fz-pad-1 {
        @include font(18); //48px
    }

    .fz-pad-2 {
        @include font(14); //40px
    }

    .fz-pad-3 {
        @include font(10); //32px
    }

    .fz-pad-4 {
        @include font(8); //28px
    }

    .fz-pad-5 {
        @include font(6); //24px
    }

    .fz-pad-6 {
        @include font(4); //20px
    }

    .p-pad-lg {
        @include font(2); //16px
    }

    .p-pad-md {
        @include font(1); //14px
    }

    .p-pad-sm {
        @include font(0); //12px
    }

    .title-pad-lg {
        @include font(74); //160px
    }

    .title-pad-md {
        @include font(54); //120px
    }

    .title-pad-sm {
        @include font(34); //80px
    }

    .h1-pad {
        @include font(18, 900); //48px
    }

    .h2-pad {
        @include font(14, 900); //40px
    }

    .h3-pad {
        @include font(10, 900); //32px
    }

    .h4-pad {
        @include font(8, 900); //28px
    }

    .h5-pad {
        @include font(6, 900); //24px
    }

    .h6-pad {
        @include font(4, 900); //20px
    }

    .p-pad-bold-lg {
        @include font(2, 700); //16px
    }

    .p-pad-bold-md {
        @include font(1, 700); //14px
    }

    .p-pad-bold-sm {
        @include font(0, 700); //12px
    }

    .title-pad-bold-lg {
        @include font(74, 900); //160px
    }

    .title-pad-bold-md {
        @include font(54, 900); //120px
    }

    .title-pad-bold-sm {
        @include font(34, 900); //80px
    }
}

// 手機版
@media screen and (max-width: $mobile-breakpoints) {
    .fz-mobile-1 {
        @include font(18); //48px
    }

    .fz-mobile-2 {
        @include font(14); //40px
    }

    .fz-mobile-3 {
        @include font(10); //32px
    }

    .fz-mobile-4 {
        @include font(8); //28px
    }

    .fz-mobile-5 {
        @include font(6); //24px
    }

    .fz-mobile-6 {
        @include font(4); //20px
    }

    .p-mobile-lg {
        @include font(2); //16px
    }

    .p-mobile-md {
        @include font(1); //14px
    }

    .p-mobile-sm {
        @include font(0); //12px
    }

    .title-mobile-lg {
        @include font(74); //160px
    }

    .title-mobile-md {
        @include font(54); //120px
    }

    .title-mobile-sm {
        @include font(34); //80px
    }

    .h1-mobile {
        @include font(18, 900); //48px
    }

    .h2-mobile {
        @include font(14, 900); //40px
    }

    .h3-mobile {
        @include font(10, 900); //32px
    }

    .h4-mobile {
        @include font(8, 900); //28px
    }

    .h5-mobile {
        @include font(6, 900); //24px
    }

    .h6-mobile {
        @include font(4, 900); //20px
    }

    .p-mobile-bold-lg {
        @include font(2, 700); //16px
    }

    .p-mobile-bold-md {
        @include font(1, 700); //14px
    }

    .p-mobile-bold-sm {
        @include font(0, 700); //12px
    }

    .title-mobile-bold-sm {
        @include font(34, 900); //80px
    }

    .title-mobile-bold-md {
        @include font(54, 900); //120px
    }

    .title-mobile-bold-lg {
        @include font(74, 900); //160px
    }
}