// 客製漢堡選單
@mixin ham-menu {

    // 先製作 ham-menu 作相對定位
    .ham-menu {
        width: 48px;
        height: 48px;
        display: block;
        position: relative;
    }

    // 製作 ham-menu 外框作絕對定位
    .ham-frame {
        position: absolute;
        top: 50%;
        left: 25%;
    }

    // 製作 ham-menu 三根技巧
    .ham-bar {
        height: 2px;
        width: 26px;
        background-color: $white;
        position: absolute;
        transition: all 0.3s;
    }

    .ham-bar--top {
        transform: translateY(-6px);
    }

    .ham-bar--bottom {
        transform: translateY(6px);
    }

    // 製作 ham-menu checked後圖形變成打叉圖示
    .ham-toggle:checked~.ham-menu .ham-frame .ham-bar--middle {
        opacity: 0;
    }

    .ham-toggle:checked~.ham-menu .ham-frame .ham-bar--top {
        transform: rotate(-45deg);
    }

    .ham-toggle:checked~.ham-menu .ham-frame .ham-bar--bottom {
        transform: rotate(45deg);
    }

    #nav-toggle {
        display: none;
    }

    // 客製側邊欄(右邊)
    .offcanvas-right {
        //由內層的offcanvas-body設定寬度才可滿版
        // width: 100vh;
        color: $white;
        background-color: $black-1;
        position: fixed;
        top: 81px;
        bottom: 0;
        left: 0;
        transition: margin-left 0.5s;
        margin-left: -230vh;
    }

    .ham-toggle:checked~.offcanvas-right {
        margin-left: 0px;
    }
}

// 針對h1標籤為圖片，設置隱藏文字，優化圖片SEO
@mixin visual-hidden {
    // 首行縮排設滿
    text-indent: 100%;
    // 不換行
    white-space: nowrap;
    // 超過後隱藏
    overflow: hidden;
}

// 圖片設定為背景當banner用途
@mixin banner($imgUrl) {
    // 需自行設定長寬
    background-image: url($imgUrl);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

// 圖片設為背景，使用遮罩填色
@mixin mask($imgUrl, $color, $size: 30px) {
    width: $size;
    height: $size;
    background-color: $color;
    // 在 Chrome 與 Safari 上使用必須加上前綴 -webkit-
    -webkit-mask: url($imgUrl) no-repeat center center;
    mask: url($imgUrl) no-repeat center center;
    -webkit-mask-size: contain;
    mask-size: contain;
}

// input的focus效果
@mixin input-focus($color: #03a9f4) {
    outline: none;
    border-style: solid;
    border-color: $color;
    box-shadow: 0 0 15px $color;
}

// scroll樣式客製
@mixin scroll-style {
    overflow-x: auto;
    // background-color: $black-1;

    &::-webkit-scrollbar {
        width: 0px;
    }

    &::-webkit-scrollbar-track {
        background-color: transparent;
    }

    &::-webkit-scrollbar-thumb {
        box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    }
}

.scroll-style {
    @include scroll-style;
}

// 卡片樣式
@mixin card-style {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: stretch;
    gap: 24px;

    @include mobile {
        flex-wrap: wrap;
    }

    .card {
        width: 416px;
        margin: 0 auto;
        border-radius: 16px;

        @include mobile {
            width: 100%;
            margin-top: 12px;
        }
    }

    .card-img {
        width: 100%;
        border-radius: 16px 16px 0px 0px;

        img {
            transition: transform 0.8s;

            &:hover {
                transform: scale(1.2);
            }
        }
    }
}

.card-group {
    @include card-style;
}