.container {
    max-width: calc(1296px + 24px);
    margin: 0 auto;
    padding: 0px 12px;

    @include pad {
        max-width: $pad-width;
    }

    @include mobile {
        max-width: $mobile-width;
    }
}

.w-100 {
    width: 100%;
}

.d-flex {
    @extend %d-flex;
}

.flex-wrap {
    @extend %flex-wrap;
}

.flex-column {
    flex-direction: column;
}

.flex-xy-center {
    @extend %flex-jcc;
    @extend %flex-aic;
}

.flex-y-center {
    @extend %flex-aic;
}

.flex-between {
    @extend %flex-jcsb;
}

.flex-end {
    @extend %flex-end;
}

.d-none {
    @extend %d-none;
}

.d-pad-block {
    @include pad {
        display: block;
    }
}

.d-pad-none {
    @include pad {
        display: none;
    }
}

.flex-mobile-ais {
    @include mobile {
        align-items: start;
    }
}

.d-mobile-block {
    @include mobile {
        display: block;
    }
}

.flex-mobile-column-reverse {
    @include mobile {
        flex-direction: column-reverse;
    }
}

.flex-mobile-left {
    @include mobile {
        align-items: start;
    }
}

.flex-1 {
    flex: 1;
}

.flex-2 {
    flex: 2;
}

.pos-fixed {
    position: fixed;
}

.pos-relative {
    position: relative;
}

.pos-absolute {
    position: absolute;
}

.overflow-hidden {
    overflow: hidden;
}

.bg-black01 {
    background: $black-1;
}

.bg-black06 {
    background: $black-6;
}

.bg-white {
    background: $white;
}

.text-center {
    text-align: center;
}

.text-color-black01 {
    color: $black-1;
}

.border-white {
    width: 100%;
    height: 1px;
    background-color: $white;
}

.border-bottom-black06 {
    border-bottom: 1px solid $black-6;
}

.border-radius160 {
    border-radius: 160px;
}

.border-black03 {
    border: 1px solid #525252;
}

.border-black06 {
    border: 1px solid $black-6;
}

.border-mobile-radius20 {
    @include mobile {
        border-radius: 20px;
    }
}

button {
    padding: 20px 40px;
    border: 1px solid $white;
    border-radius: 16px;
}

.btn {
    padding: 20px 40px;
    border: 1px solid $white;
    border-radius: 16px;
}

input {
    border-radius: 16px;
    border: 1px solid $white;

    &:focus {
        @include input-focus;
    }
}

.btn-dark {
    background: $black-2;
    color: $white;

    &:hover {
        background: $white;
        color: $black-2;
    }
}

.btn-light {
    background: $white;
    color: $black-2;

    &:hover {
        background: $black-2;
        color: $white;
    }
}

.ms-16 {
    margin-left: 16px;
}

.ms-118 {
    margin-left: 118px;
}

.me-118 {
    margin-right: 118px;
}

.mt-4 {
    margin-top: 4px;
}

.mt-20 {
    margin-top: 20px;
}

.mt-22 {
    margin-top: 22px;
}

.mt-26 {
    margin-top: 26px;
}

.mt-40 {
    margin-top: 40px;
}

.mt-80 {
    margin-top: 80px;
}

.mt-120 {
    margin-top: 120px;
}

.mt-158 {
    margin-top: 158px;
}

.mt-160 {
    margin-top: 160px;
}

.mb-40 {
    margin-bottom: 40px;
}

.mb-80 {
    margin-bottom: 80px;
}

.ps-76 {
    padding-left: 76px;
}

.pe-14 {
    padding-right: 14px;
}

.px-10 {
    padding-left: 10px;
    padding-right: 10px;
}

.px-12 {
    padding-left: 12px;
    padding-right: 12px;
}

.px-20 {
    padding-left: 20px;
    padding-right: 20px;
}

.px-32 {
    padding-left: 32px;
    padding-right: 32px;
}

.px-40 {
    padding-left: 40px;
    padding-right: 40px;
}

.pt-8 {
    padding-top: 8px;
}

.pt-12 {
    padding-top: 12px;
}

.pt-20 {
    padding-top: 20px;
}

.pt-36 {
    padding-top: 36px;
}

.pt-40 {
    padding-top: 40px;
}

.pt-80 {
    padding-top: 80px;
}

.pt-160 {
    padding-top: 160px;
}

.pb-20 {
    padding-bottom: 20px;
}

.pb-80 {
    padding-bottom: 80px;
}

.pb-160 {
    padding-bottom: 160px;
}

.py-20 {
    padding-top: 20px;
    padding-bottom: 20px;
}

.py-28 {
    padding-top: 28px;
    padding-bottom: 28px;
}

.py-32 {
    padding-top: 32px;
    padding-bottom: 32px;
}

.py-36 {
    padding-top: 36px;
    padding-bottom: 36px;
}

.py-80 {
    padding-top: 80px;
    padding-bottom: 80px;
}

.p-40 {
    padding: 40px;
}

.gap-20 {
    gap: 20px;
}

.gap-100 {
    gap: 100px;
}

.mb-mobile-24 {
    @include mobile {
        margin-bottom: 24px;
    }
}

.mb-mobile-32 {
    @include mobile {
        margin-bottom: 32px;
    }
}

.pt-mobile-32 {
    @include mobile {
        padding-top: 32px;
    }
}

.pt-mobile-80 {
    @include mobile {
        padding-top: 80px;
    }
}

.px-mobile-20 {
    @include mobile {
        padding-left: 20px;
        padding-right: 20px;
    }
}

.pb-mobile-4 {
    @include mobile {
        padding-bottom: 4px;
    }
}