html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0px;
    padding: 0px;
}
/* 全域 border box */
*,*::before,*::after {
    box-sizing: border-box;
}
//邊框合併為一條邊框
table {
    border-collapse: collapse; 
}
// 樣式設定為無
ol,ul {
    list-style-type: none;
}
// a連結
a {
    display: block; //增加點擊範圍
    text-decoration: none; //取消底線
    color: inherit; //字體顏色繼承父層的屬性
    &:hover {
        opacity: 0.8;
    }
}
// 圖片
img {
    max-width: 100%; //防止產生X軸
    height: auto;
    vertical-align: middle; //垂直置中，清除多餘的空白處，僅適用於行內標籤
    object-fit: cover; //使圖片不變形
}
// 全站的字體、背景、顏色設定
body {
    @extend %base-font-family;
    font-family: Noto Sans TC;
    background: $black-1;
    color: $white;
}
