// 斷點(參考bootstrap5規格)
$desktop-breakpoints: 992px;
$pad-breakpoints: 767px; //ipad最小尺寸為768
$mobile-breakpoints: 576px;

// 容器
$desktop-width: 960px;
$pad-width: 720px; //ipad最小尺寸為768
$mobile-width: 	540px;

// 客製RWD:桌機尺寸
@mixin desktop {
    @media screen and (max-width: $desktop-breakpoints) {
        @content;
    }
}

// 客製RWD:平板尺寸
@mixin pad {
    @media screen and (max-width: $pad-breakpoints) {
        @content;
    }
}

// 客製RWD:手機尺寸
@mixin mobile {
    @media screen and (max-width: $mobile-breakpoints) {
        @content;
    }
}

// 用於變更bootstrap的card-body設定
// 讓card-body不要自適應高度變更高度位置
%bs-card-body {
    flex: 0 1 auto; // flex-grow、flex-shrink 和 flex-basis 三個子屬性，
    // 初始值為 0 1 auto，即不會延展（flex-grow: 0）、縮小（flex-shrink: 1），初始寬度為元素內容的大小（flex-basis: auto）。
}

// 字型樣式
%font-family {
    font-family: Microsoft JhengHei, Apple LiGothic, sans-serif; //基本設定
}

// 變數設置
$baseSize: 12px; //基本字型大小
$sizeLevel: 2px; //基本字型大小的補償值
$paddingLevel: 1.2; //行高設定

// $level: 0 是指預設值為0
// 建立字集
@function font($level: 0) {
    @if $level < 0 {
        $level: 0;
    }

    @return calc($baseSize + $sizeLevel * round($level));
    //   12px   +   2 * 倍數 
}

// 行高
@function rhythm($size) {
    @return ceil(calc($size * $paddingLevel));
    //   12px   *   1.2倍高
}

// 字重
@function boldness($bold) {
    @if $bold == auto or $bold < 0 {
        $bold: 400;
    }

    @return round($bold);
    //   12px   +   2 * 倍數 
}


// 建立字集、行高和字重組合
@mixin font($level: 1, $font-weight: auto, $line-height: auto) {
    $size: font($level);
    $line: rhythm($size);
    $weight: boldness($font-weight);

    font-size: $size;

    @if $line-height == auto {
        line-height: $line;
    }
    @else {
        line-height: $line-height;
    }

    @if $font-weight == auto {
        font-weight: $weight;
    }
    @else {
        font-weight: $font-weight;
    }
}

// 主色、輔色
$black-1: #020202;
$black-2: #1E1E1E;
$black-3: #525252;
$black-4: #919191;
$black-5: #D1D1D1;
$black-6: #F2F2F2;
$white: #FFFFFF;
$primary-color: #F18724;

