.index {
    .animation {
        width: 180px;
        height: 180px;

        @include pad {
            width: 150px;
            height: 150px;
        }

        @include mobile {
            width: 117px;
            height: 117px;
        }

        .animation-left {
            position: absolute;
            left: -366px;
            bottom: 200px;
            z-index: 98;
            transition: ease-in 1s;

            @include pad {
                left: -306px;
            }

            @include mobile {
                left: -240px;
            }
        }

        .animation-middle {
            position: absolute;
            left: -183px;
            bottom: -200px;
            z-index: 98;
            transition: ease-in 1s;

            @include pad {
                left: -153px;
            }

            @include mobile {
                left: -120px;
            }
        }

        .animation-right {
            position: absolute;
            left: 0px;
            bottom: -200px;
            z-index: 98;
            transition: ease-in 1s;
        }
    }

    .partner img {
        min-width: 160px;
        height: 40px;
    }

    .search {
        @include mask("../images/icons/search.png", $black-4, 18px);
        position: absolute;
        top: 50%;
        left: 43px;
        transform: translateY(-9px);
    }

    .navbar {
        @include pad {
            flex-wrap: wrap;

            .order-filter {
                order: 1;
                width: 50%;
            }

            .order-list {
                order: 3;
                width: 100%;
                display: flex;
                justify-content: center;
            }

            .order-sort {
                order: 2;
                width: 50%;
                display: flex;
                justify-content: end;
            }
        }

        button {
            border: 1px solid $black-6;
            text-align: center;
            display: flex;
            align-items: center;

            &:hover .mask-filter {
                @include mask("../images/icons/filter.png", $white, 10px)
            }

            &:hover .mask-order {
                @include mask("../images/icons/keyboard arrow down.png", $white, 10px)
            }
        }

        .filter {

            // 相鄰兄弟選擇器
            &:hover+.option-filter {
                display: block;
            }
        }

        .sort {

            // 相鄰兄弟選擇器
            &:hover+.option-sort {
                display: block;
            }
        }

        .option {
            display: none;
            position: absolute;
            z-index: 99;
            box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
            border-radius: 16px;
            cursor: pointer;

            &:hover {
                display: block;
            }

            .option-item:hover {
                color: $black-1;
                background-color: $black-6;
            }
        }

        .option-filter {
            width: 240px;
            top: 60px;
            left: 0px;
        }

        .option-sort {
            width: 144px;
            top: 60px;
            right: 0px;
        }

        .mask-filter {
            @include mask("../images/icons/filter.png", $black-1 , 10px)
        }

        .mask-order {
            @include mask("../images/icons/keyboard arrow down.png", $black-1, 10px)
        }

        .list {
            display: flex;

            a {
                padding: 8px 16px;
                color: $black-4;
            }

            a:hover {
                color: $black-1;
                font-weight: boldness(700);
                background-color: $black-6;
                border-radius: 16px;
            }
        }
    }

    .card-comment-item {
        background: #ffffff14;
        box-shadow: 0px 100px 80px rgba(18, 18, 18, 0.07), 0px 41.7776px 33.4221px rgba(18, 18, 18, 0.0503198), 0px 22.3363px 17.869px rgba(18, 18, 18, 0.0417275), 0px 12.5216px 10.0172px rgba(18, 18, 18, 0.035), 0px 6.6501px 5.32008px rgba(18, 18, 18, 0.0282725), 0px 2.76726px 2.21381px rgba(18, 18, 18, 0.0196802);

        .card-text {
            min-height: 215px;

            @include mobile {
                min-height: 144px;
            }
        }
    }

    // 配合套件修改，該版型適用桌機和平版
    .card-comment {
        @include mobile {
            display: none;
        }
    }

    // 修改套件設定，讓mobile版型以下才適用
    .mySwiper-comment {
        display: none;

        @include mobile {
            display: block;
        }
    }

    // 修改套件的樣式顏色
    .swiper-pagination-bullet-active {
        background: $white;
    }

    .card-ai {
        display: flex;
        flex-wrap: wrap;

        .card {
            width: 31%;

            @include pad {
                width: 48%;
            }

            @include mobile {
                width: 100%;
            }
        }

        .card-img {
            img {
                width: 100%;
            }
        }
    }

    .order-list {
        .active {
            color: $black-1;
            font-weight: 700;
            background-color: $black-6;
            border-radius: 16px;
        }
    }

    .pagination {
        display: flex;
        justify-content: end;
        align-items: center;
        margin-top: 40px;

        .active {
            color: $white;
            background: $black-1;
            border-radius: 16px;
        }

        a {
            width: 48px;
            height: 48px;
            line-height: 48px;
            text-align: center;

            &:hover {
                color: $white;
                background: $black-1;
                border-radius: 16px;
            }

            &:hover .arrow-right {
                @include mask("../images/icons/keyboard arrow right.png", $white, 16px);
            }
        }

        .arrow-right-a {
            position: relative;
        }

        .arrow-right {
            @include mask("../images/icons/keyboard arrow right.png", $black-1, 16px);
            position: absolute;
            top: 16px;
            left: 16px;
        }
    }

    .slogan {
        width: 188px;
        text-align: center;
        margin: 40px auto 160px auto;
        padding: 20px 0px;
        border: 1px solid $white;
        border-radius: 16px;
        display: flex;
        align-items: center;
        justify-content: center;

        .call_made {
            @include mask("../images/icons/call made.png", white, 15px);
            margin-left: 16px;
        }

        &:hover {
            color: $black-1;
            background: white;
        }

        &:hover .call_made {
            @include mask("../images/icons/call made.png", $black-1, 15px)
        }


        h6 {
            display: inline;
        }

        img {
            margin-left: 16px;
        }

    }
}

@keyframes arrow-first {
    0% {
        bottom: -100%;
    }

    45% {
        bottom: 0;
    }

    100% {
        bottom: 100%;
    }

}

@keyframes arrow-second {
    0% {
        bottom: -100%;
    }

    65% {
        bottom: 0;
    }

    100% {
        bottom: 100%;
    }

}

@keyframes arrow-third {
    0% {
        bottom: -100%;
    }

    70% {
        bottom: 0;
    }

    100% {
        bottom: 100%;
    }

}

.animation-left,
.animation-right,
.animation-middle {
    animation-iteration-count: infinite;
    animation-timing-function: ease;
    animation-duration: 4s;
}

.animation-right {
    animation-name: arrow-first;
}

.animation-middle {
    animation-name: arrow-second;
    animation-delay: 300ms;
}

.animation-left {
    animation-name: arrow-third;
    animation-delay: 600ms;
}