.section0 {
    position: relative;
    z-index: 99;
    background: #000;

    .hero {
        margin-top: 140px;
    }

    button {
        margin-top: 40px;
        margin-bottom: 100px;
    }
}

.section1 {
    .container {
        justify-content: flex-end;
    }

    .animation {
        width: 180px;
        height: 180px;
        position: relative;

        @include pad {
            width: 150px;
            height: 150px;
        }

        @include mobile {
            width: 117px;
            height: 117px;
        }
    }

    .animation-left {
        position: absolute;
        left: -366px;
        bottom: -200px;
        z-index: 98;
        transition: ease-in 1s;

        @include pad {
            left: -306px;
        }

        @include mobile {
            left: -240px;
        }
    }

    .animation-middle {
        position: absolute;
        left: -183px;
        bottom: -200px;
        z-index: 98;
        transition: ease-in 1s;

        @include pad {
            left: -153px;
        }

        @include mobile {
            left: -120px;
        }
    }

    .animation-right {
        position: absolute;
        left: 0px;
        bottom: -200px;
        z-index: 98;
        transition: ease-in 1s;
    }
}

.section2 {
    padding-top: 160px;
    position: relative;
    z-index: 99;
    background: #000;

    .section2-ul-01 {
        display: flex;
        justify-content: space-between;

        @include mobile {
            display: block;
        }

        .flex-1 {
            flex: 1;

            h3 {
                @include mobile {
                    margin-bottom: 24px;
                }
            }
        }

        .flex-2 {
            flex: 2;
        }

    }

    .card-group {
        justify-content: space-between;
        margin-top: 80px;
        gap: 24px;

        .card {
            flex-basis: calc(33.33% - 20px);

            @include mobile {
                flex-basis: calc(100% - 20px);
            }
        }

        .card-item {
            padding: 80px 40px;
            border: 1px solid $black-3;
            border-radius: 16px;

            @include pad {
                padding: 40px 20px;
            }

            li {
                max-width: 416px;
            }

            h3 {
                padding: 20px 0px;
            }
        }
    }
}

.section3 {
    margin-top: 160px;

    ul {
        gap: 20px;
        margin-top: 80px;
        @include scroll-style;
    }

    img {
        min-width: 160px;
        height: 40px;
    }
}

.section4 {
    margin-top: 160px;

    .card-group {
        display: flex;
        width: 100%;
        gap: 24px;
    }

    .card {
        padding: 40px;
        background: rgba(255, 255, 255, 0.08);
        box-shadow: 0px 100px 80px rgba(18, 18, 18, 0.07), 0px 41.7776px 33.4221px rgba(18, 18, 18, 0.0503198), 0px 22.3363px 17.869px rgba(18, 18, 18, 0.0417275), 0px 12.5216px 10.0172px rgba(18, 18, 18, 0.035), 0px 6.6501px 5.32008px rgba(18, 18, 18, 0.0282725), 0px 2.76726px 2.21381px rgba(18, 18, 18, 0.0196802);
        border-radius: 16px;
    }

    .card-text {
        margin: 22px 0px;
    }

    .card-footer {
        display: flex;
        gap: 16px;

    }
}

.section5 {
    color: $black-1;
    background: $white;
    border-radius: 160px;
    margin-top: 160px;

    .container {
        flex-direction: column;
        padding-top: 160px;
        padding-bottom: 160px;
    }

    .title {
        margin-bottom: 80px;
    }

    input {
        width: 100%;
        background: $black-6;
        padding: 20px 0px 20px 76px;
        border-radius: 16px;
        border: 1px solid $white;

        &:focus {
            @include input-focus;
        }
    }

    .search-bar {
        position: relative;
    }

    .search {
        @include mask("../../images/icons/search.png", $black-4, 18px);
        position: absolute;
        top: 50%;
        left: 43px;
        transform: translateY(-9px);
    }

    .navbar {
        margin-top: 24px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        button {
            border: 1px solid $black-6;
            text-align: center;
            display: flex;
            align-items: center;

            &:hover .mask-filter {
                @include mask("../../images/icons/filter.png", $white, 10px)
            }

            &:hover .mask-order {
                @include mask("../../images/icons/keyboard arrow down.png", $white, 10px)
            }
        }

        .mask-filter {
            @include mask("../../images/icons/filter.png", $black-1 , 10px)
        }

        .mask-order {
            width: 10px;
            height: 10px;
            @include mask("../../images/icons/keyboard arrow down.png", $black-1, 10px)
        }

        .list {
            display: flex;

            @include pad {
                display: none;
            }

            a {
                padding: 8px 16px;
                color: $black-4;
            }

            a:hover {
                color: $black-1;
                font-weight: boldness(700);
                background-color: $black-6;
                border-radius: 16px;
            }
        }
    }

    .card-group {
        justify-content: space-between;
    }

    .card {
        width: 33.33%;
        border: 1px solid $black-6;
        border-radius: 16px;
        margin-top: 40px;
    }

    .card-header {
        width: 100%;
        overflow: hidden;
        border-radius: 16px 16px 0px 0px;
    }

    .card-img {
        width: 100%;
        transition: transform 0.8s;

        &:hover {
            transform: scale(1.2);
        }
    }

    .card-text {
        padding: 12px 32px;

        p {
            color: $black-3;
        }
    }

    .card-footer {
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-top: 1px solid $black-6;

        li {
            padding: 10px 32px;
        }
    }

    .pagination {
        display: flex;
        justify-content: end;
        align-items: center;
        margin-top: 40px;

        a {
            width: 48px;
            height: 48px;
            line-height: 48px;
            text-align: center;
            vertical-align: middle;

            &:hover {
                color: $white;
                background: $black-1;
                border-radius: 16px;
            }

            &:hover .arrow-right {
                @include mask("../../images/icons/keyboard arrow right.png", $white, 8px);
            }
        }

        .arrow-right-a {
            position: relative;
        }

        .arrow-right {
            @include mask("../../images/icons/keyboard arrow right.png", $black-1, 8px);
            position: absolute;
            top: 20px;
            left: 20px;
        }
    }
}

.section6 {

    .h1 {
        text-align: center;
        margin-top: 158px;
    }

    .slogan {
        width: 188px;
        text-align: center;
        margin: 40px auto 160px auto;
        padding: 20px 0px;
        border: 1px solid $white;
        border-radius: 16px;
        display: flex;
        align-items: center;
        justify-content: center;

        .call_made {
            @include mask("../../images/icons/call made.png", white, 15px);
            margin-left: 16px;
        }

        &:hover {
            color: $black-1;
            background: white;
        }

        &:hover .call_made {
            @include mask("../../images/icons/call made.png", $black-1, 15px)
        }


        h6 {
            display: inline;
        }

        img {
            margin-left: 16px;
        }

    }

    .container {
        flex-direction: row-reverse;
        justify-content: space-between;
        border-top: 1px solid $white;
        border-bottom: 1px solid $white;
        padding-top: 80px;
        padding-bottom: 80px;

        @include mobile {
            display: block;
        }
    }

    .logo {
        margin-bottom: 40px;
    }
}