footer {
    padding: 32px 0px;

    .container {
        justify-content: space-between;
    }

    .society {
        display: flex;
        gap: 20px;
    }

    .part {
        display: flex;
        gap: 100px;
    }

    .to-top {
        cursor: pointer;
    }
}