header {
    h1 {
        @include visual-hidden;
    }

    .logo {
        width: 229px;
        height: 80px;
        background:
            url('../images/header/Union.png') left no-repeat,
            url('../images/header/AI_tool_king.png') right no-repeat;
    }

    // 響應式設置：手機或pad版時引入ham-menu
    nav {
        @include pad {
            @include ham-menu;
        }
    }

    .offcanvas-body {
        width: 100vw;
        height: calc((812px - 148px)/812px)*100%;
    }

    .offcanvas-footer {
        width: 100vw;
        height: calc(148px/812px)*100%;
    }
}