body {
    @extend %font-family;
    font-family: Noto Sans TC;
    background: $black-1;
    color: $white;
}

.container {
    max-width: 1296px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    @include desktop {
        max-width: $desktop-width;
    }
    @include pad {
        max-width: $pad-width;
    }
    @include mobile {
        padding: 0px 12px;
        max-width: $mobile-width;
    }
}

.fz-1 {
    @include font(18); //48px
}
.fz-2 {
    @include font(14); //40px
}
.fz-3 {
    @include font(10); //32px
}
.fz-4 {
    @include font(8); //28px
}
.fz-5 {
    @include font(6); //24px
}
.fz-6 {
    @include font(4); //20px
}
p {
    @include font(2); //16px
}
.p-md {
    @include font(1); //14px
}
.p-sm {
    @include font(0); //12px
}
.title-sm {
    @include font(34); //80px
}
.title-md {
    @include font(54); //120px
}
.title-lg {
    @include font(74); //160px
}
.h1 {
    @include font(18,900); //48px
}
h2 {
    @include font(14,900); //40px
}
h3 {
    @include font(10,900); //32px
}
h4 {
    @include font(8,900); //28px
}
h5 {
    @include font(6,900); //24px
}
h6 {
    @include font(4,900); //20px
}
.p-bold {
    @include font(2,700); //16px
}
.p-bold-md {
    @include font(1,700); //14px
}
.p-bold-sm {
    @include font(0,700); //12px
}
.title-bold-sm {
    @include font(34,900); //80px
}
.title-bold-md {
    @include font(54,900); //120px
}
.title-bold-lg {
    @include font(74,900); //160px
}
button {
    background: $black-2;
    color: $white;
    padding: 20px 40px;
    border: 1px solid $white;
    border-radius: 16px;
    &:hover {
        background: $white;
        color: $black-2;
    }
}
.button-light {
    background: $white;
    color: $black-2;
    padding: 20px 40px;
    border: 1px solid $white;
    border-radius: 16px;
    &:hover {
        background: $black-2;
        color: $white;
    }
}
.ms-118 {
    margin-left: 118px;
}
.me-118 {
    margin-right: 118px;
}
.pt-8 {
    padding-top: 8px;
}
.pe-14 {
    padding-right: 14px;
}
