body {
    @extend %font-family;
    background: #1E1E1E;
}

.container {
    max-width: $desktop-width;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    padding: 0px 16px;
    @include pad {
        max-width: $pad-width;
    }
    @include mobile {
        max-width: $mobile-width;
    }
}


.fz-1 {
    @include font(18); //48px
}
.fz-2 {
    @include font(14); //40px
}
.fz-3 {
    @include font(10); //32px
}
.fz-4 {
    @include font(8); //28px
}
.fz-5 {
    @include font(6); //24px
}
.fz-6 {
    @include font(4); //20px
}
.fz-sm {
    @include font(2); //16px
}
.fz-md {
    @include font(1); //14px
}
.fz-lg {
    @include font(0); //12px
}

h1 {
    @include font(18,900); //48px
}
h2 {
    @include font(14,900); //40px
}
h3 {
    @include font(10,900); //32px
}
h4 {
    @include font(8,900); //28px
}
h5 {
    @include font(6,900); //24px
}
h6 {
    @include font(4,900); //20px
}
.fb-lg {
    @include font(2,900); //16px
}
.fb-md {
    @include font(1,900); //14px
}
.fb-sm {
    @include font(0,900); //12px
}


